.rooms{
	display:flex;
	align-items:stretch;
	margin-bottom:100px;
	position:relative;
	@media screen and (max-width:1023px){
		flex-wrap:wrap;
	}
	&:before{
		background-color:#FAF8F5;
		position:absolute;
		top:82px;
		width:100%;
		height:calc(100% - 3em);
		content:'';
		z-index:1;
	}
	&__gallery{
		width:50%;
		z-index:2;
		position:relative;
		@media screen and (max-width:1023px){
			width:100%;
		}
	}
	&__image{
		height:750px;
		max-height:60vh;
		background-size:cover;
		background-position:center;
		background-repeat: no-repeat;
	}
	&__content{
		width: 600px;
		max-width:90%;
		z-index:2;
		position:relative;
		margin-top:35px;
		&--container{
			display:flex;
			justify-content:center;
			width:50%;
			@media screen and (max-width:1023px){
				width:100%;
				padding-bottom:2em;
			}
		}
		&--left{
			.rooms__gallery{
				order:1;
				@media screen and (max-width:1023px){
					order:2;
				}
			}
			.rooms__content--container{
				order:2;
				@media screen and (max-width:1023px){
					order:1;
				}
			}
			&.rooms{
				color:$white;
				&:before{
					background-color:$dark-grey;
				}
			}
			.btn{
				border:1px solid $white;
				color: $white;
			}
		}
	}
	&__title{
		line-height:1;
		color: $secondary-color;
	}
}