.testimonials{
	background-color:#FAF8F5;
	&__container{
		width: 800px;
		max-width:calc(80vw - 28px);
		margin:auto;
		position:relative;
		&:before, &:after{
			content:'"';
			position:absolute;
			font-size: 200px;
			font-family:$font__heading;
			color:$medium-grey;
		}
		&:before{
			right:calc(100% + 10px);
			top:10%;
		}
		&:after{
			left:calc(100% + 10px);
			top:30%;
		}
	}
}