body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.container{
	width:800px;
	max-width:90vw;
	margin:auto;
}

.container-wide{
	width:1400px;
	max-width:90vw;
	margin:auto;
}